﻿@{
    ViewBag.Title = "This is an MVC site I made";
}
<div class="row">
    <div class="col-md-12 text-center">
        <h2>@ViewBag.Title.</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-center"></div>
    <div class="col-md-8 text-center">
        <p class="text-center">
                This was my first project to really learn my way around and understand how Visual Studio sets up its MVC architecture.
                It was a good experience and I was able to gain a solid understanding of how it is all stitched together.
                I apologize for the presentation. It's kind of bare bones, but since it wasn't the main goal of this project
                I focused my attention on other parts of it.
        </p>
        <h4 style="margin-top: 5%">Technologies I Used</h4>
        <ul style="list-style: none">
            <li>Bootstrap for the styling, since it comes with Visual Studio (But I really like Bootstrap anyway)</li>
            <li>DataTables for the table sorting and search functionality</li>
            <li>jqueryUI for the date picker on the birthdays</li>
            <li>Facebook for an extra login option</li>
        </ul>
        </div>
    </div>

