﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead text-center">This is an application that lets you create an account and then keep track of personal contacts.</p>
    <p class="lead text-center">You can create, update, and delete your contacts, as well as search through them.</p>
    
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <h4>Use the username and password: </h4>
            <p>user@genericmail.com</p>
            <p>Secret!1234</p>
        <p>to log into an account that already has several contacts in the database for you to search through.
            Feel free to create another and add it to the list. 
        </p>
        
    </div>
</div>